<div class="card">
    <div class="card-body">
        <div class="row" *ngFor="let adventurer of adventurers">
            <div class="col-4">
                <img [src]="adventurer.image" class="card-img-top">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-8">
                        <p>Name: {{ adventurer.name }}</p>
                    </div>
                    <div class="col-4">
                        <p>Role: {{ adventurer.role }}</p>
                    </div>
                </div>
                <div class="row">
                    <label>HP: </label>
                    <div class="health-bar-container">
                        <div class="health-bar" [ngStyle]="{ 'width': adventurer.hp + '%' }"></div>
                    </div>
                </div>
                <div class="row">
                    <label>Stamina: </label>
                    <div class="stamina-bar-container">
                        <div class="stamina-bar" [ngStyle]="{ 'width': adventurer.stamina + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
